# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/*
!/idea/codeStyles
!/idea/inspectionProfiles
!/idea/runConfigurations

Server/users.db
Server/Test/users.db


/Client/users.db
/Client/client*_chats
/Client/client*_private_key.pem
/Client/client*_public_key.pem



