# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/*
!/idea/codeStyles
!/idea/inspectionProfiles
!/idea/runConfigurations

Server/users.db
Server/Test/users.db

Client/client_chats.db

/Client/client_chat
/Client/client_chats
/Client/users.db
/Client/client1_chats
/Client/client2_chats
